/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #F3F5FC;
}

.center {
  margin: 0rem auto;
  max-width: 72rem;
  background-color: #fff;
}

#home-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

#fundraiser-list {
  display: flex;
  min-height: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
}

#fundraiser-list .card {
  width: 30%;
  min-height: 340px;
  border-radius: 1rem !important;
  /* border: 1px solid; */
  margin: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card-button {
  border-radius: .5rem;
  font-size: .875rem;
  font-weight: 800;
  line-height: 1;
  margin-right: auto;
  margin-top: auto;
  padding: .75rem 1rem .75rem 0;
  transition: .3s ease-in-out;
}

.target-funding {
  font-weight: bold;
  color: #2c3e50;
  font-size: 1.2em;
}

.current-funding {
  font-weight: normal;
  font-size: 1em;
  margin-left: 5px;
}


.header {
  background-color: #25292e;
  /* padding: 1rem 1rem; */
}

.header .container {
  display: flex;
  align-items: center;
  margin: 0rem auto;
  max-width: 72rem;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #5a57ff;
}


.status-tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.status-active {
  background-color: #28a745;
}

.status-inactive {
  background-color: #dc3545;
}


.search {
  display: flex;
  align-items: center;
}

.form-item {
  display: flex;
  margin: 15px 10px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
